* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    border-top: 5px double rgb(161, 75, 86);
    border-bottom: 5px double rgb(161, 75, 86);
    background-color: rgb(246, 239, 244);
    display: flex;
    align-items: center;
}

.header-text {
    font-size: 40px;
    color: rgb(161, 75, 86);
    margin-left: 3vw;
    
}

.section-text {
    margin: 20px 0;
}

.section-text2 {
    display: inline-block;
    font-weight: bold;
}

.section-text2 span {
    color: red;
}

.card-container {
    border: 3px solid blue;
    width: 30vw;
    margin: 20px;
    font-size: large;
    background-color: rgb(214, 214, 241);
}

.card-title {
    color: blue;
    font-weight: bold;
    padding: 40px 40% 20px 20px;
    display: inline-block;
    width: 100%;
}

.card-title span {
    font-style: italic;
}

ul {
    padding-left: 40px;
    font-weight: bold;
    font-size: medium;
}

.card-addon {
    padding-bottom: 30px;
    color: red;
}

.card-addon span {
    font-style: italic;
}